In [12]:


import re 
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 


import torch 
import torch.nn as nn

<br>
<br>

# `#1. Data Preprocessing:` 

<br>
<br>

- 1. lowercase
- 2. remove html tag
- 3. remove emoji
- 4. remove url 
- 5. remove punctuation
- 6. Spell Checking
- 7. Chat Word Teatment
- 8. stemming or lemmatization


<br>

In [4]:

df = pd.read_csv(filepath_or_buffer="spam.csv",encoding="latin-1")
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will √å_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [6]:

df.drop(columns=["Unnamed: 2","Unnamed: 3","Unnamed: 4"],inplace=True)

In [7]:
df.tail(5)

        v1                                                 v2
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will √å_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

<br>

### 1. Lowercasing:

<br>

In [8]:

def smaller(sentence):
    return sentence.lower()

smaller("MY Name IS YASIN")

'my name is yasin'

In [11]:
df["v2"] = df["v2"].apply(smaller)
df["v1"] = df["v1"].apply(smaller)
df.tail(5)

        v1                                                 v2
5567  spam  this is the 2nd time we have tried 2 contact u...
5568   ham              will √¨_ b going to esplanade fr home?
5569   ham  pity, * was in mood for that. so...any other s...
5570   ham  the guy did some bitching but i acted like i'd...
5571   ham                         rofl. its true to its name

<br>

### 2. remove url:

<br>

In [13]:

def remove_url(sentence):
    return re.sub(pattern="<.*?>",repl="",string=sentence)


test_sen = "<h1> this is header file. <h2>"
remove_url(test_sen)

' this is header file. '

In [14]:

df["v2"] = df["v2"].apply(remove_url)

<br>

### 3. remove emoji:

<br>

In [16]:
text = ''' Hello! üëã How are you doing today? I'm planning to go for a walk in the park üå≥. 
It's such a beautiful day! ‚òÄÔ∏è Let's catch up later over coffee ‚òï. Have a great day! üòä '''

def removeEmoji(text):
    emoji_pattern = re.compile(
    "[" 
    "\U0001F600-\U0001F64F"  # emoticons
    "\U0001F300-\U0001F5FF"  # symbols & pictographs
    "\U0001F680-\U0001F6FF"  # transport & map symbols
    "\U0001F1E0-\U0001F1FF"  # flags (iOS)
    "\U00002700-\U000027BF"  # Dingbats
    "\U0001F900-\U0001F9FF"  # Supplemental Symbols and Pictographs
    "\U00002600-\U000026FF"  # Miscellaneous Symbols
    "\U0001F700-\U0001F77F"  # Alchemical Symbols
    "\U0001FA70-\U0001FAFF"  # Symbols and Pictographs Extended-A
    "]+", flags=re.UNICODE)
    ans = emoji_pattern.sub("",text)
    return ans 

print(removeEmoji(text))

 Hello!  How are you doing today? I'm planning to go for a walk in the park .
It's such a beautiful day! Ô∏è Let's catch up later over coffee . Have a great day!

In [17]:

df["v2"] = df["v2"].apply(removeEmoji)

<br>

### 4. remove url:

<br>